<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <callforprice>
            <general>
                <enable>1</enable>
                <button_title>Call For Price</button_title>
                <callforprice_success_message>Request has been received.</callforprice_success_message>
                <frontend_callforprice_template>frontend_callforprice_template</frontend_callforprice_template>
                <admin_callforprice_template>admin_callforprice_template</admin_callforprice_template>
                <email_to>example@domain.com</email_to>
                <identity>sales</identity>
            </general>
        </callforprice>
    </default>
</config>